<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary justify-content-start">
  <a class="nav-item nav-link" routerLink="/user/{{userId}}"><i class="fas fa-chevron-left white-icons"></i></a>
  <a class="navbar-brand  white-icons" [routerLink]="">Websites</a>
  <a class="nav-item nav-link ml-auto" routerLink="./new"><i class="fas fa-plus white-icons"></i></a>
</nav>

<div class="container move-up" *ngFor="let website of websites">
  <ul class="list-group border-0">
    <li class="list-group-item border-0 ">
      <a routerLink="./{{website._id}}"><span><i class="fas fa-cog float-right setting"></i></span></a>
      <a routerLink="./{{website._id}}/page">{{website.name}}</a>
    </li>
  </ul>
</div>

<nav class="navbar fixed-bottom bg-primary navbar-dark justify-content-end">
  <div class="container-fuild">
    <a routerLink="/user/{{userId}}" class="navbar-link navbar-text float-right">
      <i class="fas fa-user white-icons"></i>
    </a>
  </div>
</nav>
