<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light justify-content-start">
  <a class="nav-item nav-link" routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget">
    <i class="fas fa-chevron-left black-icons"></i></a>
  <a class="navbar-brand  white-icons" [routerLink]="">Choose Widget</a>
</nav>

<div class="container-fluid cl-container-padding">
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item border-0">
      <a [routerLink]="" (click)="createWidget('HEADER')" >Header</a>
    </li>
    <li class="list-group-item border-0">
      <a [routerLink]="" >Label</a>
    </li>
    <li class="list-group-item border-0">
      <a [routerLink]="" (click)="createWidget('HTML')">HTML</a>
    </li>
    <li class="list-group-item border-0">
      <a [routerLink]="" (click)="createWidget('TEXT')">Text Input</a>
    </li>
    <li class="list-group-item border-0">
      <a [routerLink]="">Link</a>
    </li>
    <li class="list-group-item border-0">
      <a [routerLink]="">Button</a>
    </li>
    <li class="list-group-item border-0">
      <a [routerLink]="" (click)="createWidget('IMAGE')">Image</a>
    </li>
    <li class="list-group-item border-0">
      <a [routerLink]="" (click)="createWidget('YOUTUBE')">YouTube</a>
    </li>
    <li class="list-group-item border-0">
      <a [routerLink]="">Data Table</a>
    </li>
    <li class="list-group-item border-0">
      <a [routerLink]="">Repeater</a>
    </li>
  </ul>
</div>
<nav class="navbar navbar-expand-lg navbar-primary bg-light justify-content-start fixed-bottom">
  <a class="nav-item nav-link ml-auto navblack" routerLink="/user/{{userId}}"><i class="  fas fa-user"></i></a>
</nav>
