<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light justify-content-start">
  <a class="nav-item nav-link" routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget">
      <i class="fas fa-chevron-left black-icons"></i></a>
  <a class="navbar-brand  white-icons">Widget Edit</a>
  <a class="nav-item nav-link ml-auto" (click)="updateWidget()"
     routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget">
    <i class="fas fa-check black-icons"></i></a>
</nav>

<div class="container move-up">
    <div class="form-group">
      <label for="image-name">Name</label>
      <input type="text" class="form-control" id="image-name" placeholder="Name" [(ngModel)]="widget.name">
    </div>
    <div class="form-group">
      <label for="image-text">Text</label>
      <input type="text" class="form-control" id="image-text" placeholder="Text" [(ngModel)]="widget.text">
    </div>
    <div class="form-group">
      <label for="image-URL">URL</label>
      <input type="text" class="form-control" id="image-URL" placeholder="URL" [(ngModel)]="widget.url">
    </div>
    <div class="form-group">
      <label for="image-width">Width</label>
      <input type="text" class="form-control" id="image-width" placeholder="100%" [(ngModel)]="widget.width">
    </div>
    <div class="form-group">
      <label for="exampleInputFile">Upload</label>
      <input type="file" class="form-control" id="exampleInputFile" [(ngModel)]="widget.file">
    </div>
  <a class="btn btn-primary btn-block" (click)="updateWidget()" [routerLink]="">Upload Image</a>
  <a class="btn btn-danger  btn-block" routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget"
     (click)="deleteWidget()">Delete</a>
</div>

<nav class="navbar navbar-expand-lg navbar-primary bg-light justify-content-start fixed-bottom">
  <a class="nav-item nav-link ml-auto navblack" routerLink="/user/{{userId}}"><i class="  fas fa-user"></i></a>
</nav>
