<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light justify-content-start">
  <a class="nav-item nav-link" routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget">
    <i class="fas fa-chevron-left black-icons"></i></a>
  <a class="navbar-brand  white-icons">Widget Edit</a>
  <a class="nav-item nav-link ml-auto" (click)="updateWidget()"
     routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget">
    <i class="fas fa-check black-icons"></i></a>
</nav>

<div class="container move-up">
  <div class="form-group">
    <label for="heading-name">Name</label>
    <input type="text" class="form-control" id="heading-name" placeholder="Name" [(ngModel)]="widget.name">
  </div>
  <div class="form-group">
    <label for="heading-text">Text</label>
    <input type="text" class="form-control" id="heading-text" placeholder="Text" [(ngModel)]="widget.text">
  </div>
  <div class="form-group">
    <label for="heading-size">Size</label>
    <input type="text" class="form-control" id="heading-size" placeholder="3" [(ngModel)]="widget.size">
  </div>
  <a class="btn btn-danger  btn-block" (click)="deleteWidget()"
     routerLink="/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget">Delete</a>
</div>

<nav class="navbar navbar-expand-lg navbar-primary bg-light justify-content-start fixed-bottom">
  <a class="nav-item nav-link ml-auto navblack" routerLink="/user/{{userId}}"><i class="  fas fa-user"></i></a>
</nav>
