/* You can add global styles to this file, and also import other style files */
#title {
    text-align: center;
    margin-top: 20px;
}
.padding {
    padding: 30px;
}
.site {
    color: #1d2786;
    font-size: 16pt;
    margin: auto;
}
label {
    font-weight: bold;
}
.input {
    margin-bottom: 10px
}
#hidden {
    color: #007bff;
}
.setting {
    margin-top: 5px;
}
.white-icons {
    color: white;
}
.black-icons {
    color: black;
}
.move-left {
    margin-left: 20px;
}
.move-right {
    margin-right: 20px
}
.move-up {
    margin-top: 20px;
}
.move-down {
    margin-top: 15px
}
.blue {
    color: #007bff;
}
.content {
    margin-bottom: 80px;
}

.fa-bars {
    margin-left: 5px;
}

